apiVersion: v1
kind: Service
metadata:
  name: mealie
  namespace: mealie
spec:
  type: LoadBalancer
  loadBalancerIP: 10.2.1.105
  selector:
    app: mealie
  ports:
    - name: http
      port: 80
      targetPort: 9000
