apiVersion: v1
kind: Service
metadata:
  name: semaphore
  namespace: semaphore
spec:
  type: LoadBalancer
  loadBalancerIP: 10.1.2.102
  selector:
    app: semaphore
  ports:
    - port: 80
      targetPort: 3000
